# Ignore everything in this directory
arduino-builder.exe
arduino.exe
arduino.l4j.ini
arduino_debug.exe
arduino_debug.l4j.ini
dist/
drivers/
hardware/platform.keys.rewrite.txt
hardware/platform.txt
hardware/tools/
java/
lib/
libusb0.dll
msvcp100.dll
msvcr100.dll
reference/
revisions.txt
tools-builder/
tools/

# Except this file
!.gitignore

